// Window positioning and size
layout {
    gaps 10
    center-focused-column "on-overflow"
    preset-column-widths {
        proportion 0.33333
        proportion 0.5
        proportion 0.66667
        proportion 1.0
    }
    preset-window-heights { }
    default-column-width { proportion 1.0; }
    focus-ring { off; }
    /-border {
        on
        width 4
        active-color "#f38ba8"
        inactive-color "#720043"
    }
    shadow { off; }
    // background-color "transparent"
    /-struts {
        top -5
    }
}

// Overview management
overview { 
    backdrop-color "#0b011d"; 
    workspace-shadow {
        // off
        softness 40
        spread 10
        offset x=10 y=10
        color "#00000050"
    }
}

// Named workspaces
workspace "terminal" {
    layout {
        // Aesthetics(tm)
        gaps 20
    }
}
workspace "browser"
workspace "chat"
